#add{
    margin-top: 50px;
    margin-left: 10px;

}

.body{
    width: 100%;
    height: 100%;
    
   display: flex;
    position: relative;
}
.form-style{
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    height: 100%;
    width: 100%;
}
.flex{
    height: 17px;
    }

.lab{
    padding-left: 6%;
    color: gray;
}
.emaill{
    padding-left: 6%;
    color: gray;
}
.phone{
    padding-left: 6%;
    color: gray;
}
.city{
    padding-left: 6%;
    color: gray; 
}
#title{
    width: 40%;
    height: 8%;
    margin-left: 6%;
    border-radius: 10px;
    border-color: #d3d3d3;
}
#email{
    width: 40%;
    height: 8%;
    margin-left: 6%;
    border-radius: 10px;
    border-color: #d3d3d3;
}
#citty{
    width: 13%;
    height: 8%;
    margin-left: 6%;
    border-radius: 10px;
    border-color: #d3d3d3;
}
#phonen{
    width: 40%;
    margin-left: 6%;
    border-radius: 10px;
    border-color: #d3d3d3;
}
.addres{
    padding-left: 6%;
    color: gray;

}
#address{
    width: 40%;
    margin-left: 6%;
    border-radius: 10px;
    border-color: #d3d3d3;
}


#rest{
    width: 20%;
    height: 8%;
    margin-left: 6%;
    border-radius: 10px;
    border-color: #d3d3d3;
}
